<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="common/layout :: htmlhead">
    <title>Home page</title>
</head>
<body>
    <div layout:fragment="content">
        首页内容首页内容首页内容首页内容首页内容首页内容首页内容首页内容首页内容首页内容首页内容
        首页内容首页内容首页内容首页内容首页内容首页内容首页内容
    </div>

    <script th:inline="javascript">
        var single = [[${singlePerson}]];
        console.log(single.name+"/"+single.age);
        function getName(name) {
            console.log(name);
        }
    </script>
</body>
</html>